div {
  box-sizing: border-box;
}

.black-nav {
  background-color: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
}

.list {
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px solid gray;
}