.parents{
    border: 2px solid purple;
    display: grid;
    grid-template-columns: 200px 50px 100px;
    grid-template-rows: 50px 100px;
    /* justify-content: space-between; */
    /* column -> 수직 */
    /* flex-direction: column; */
    /* 넘침 제어 */
    /* 내용이 요소의 크기 이상으로 넘칠 때 보여지는것을 제어 */
    /* 속성값 : visible / hidden / scroll / auto */
    /* overflow: hidden; */

    /* display */
    /* flex->1차원레이아웃 */
    /* grid->2차원레이아웃 */
    /* none->보여짐 특성 없음(사라짐) */
    /* display: flex; */

    /* 투명도 */
    /* opacity: 0.3; */
}
.child{
    /* padding: 10px;
    margin: 10px; */
    border: 2px solid blue;
    /* 여기에서도 이미지 파일 불러올수 있음 */
    /* background-image: url(icon.png); */
    /* 반복 조절 가능 */
    /* background-repeat: no-repeat; */
    /* 포지션 조절 가능 */
    /* position: relative(상대) // absolute(절대) */
    /* background-position: 100px 30px; */
}